.footer {
    margin-top: 5vh;
    text-align: right;
}

.footer a{
    text-decoration: none;
    color: #feda4a;
}

.footer a:not(:first-child) {
    padding-left: 20px;
}

.footer a:visited {
    color: #feda4a;
}