.loader {
    display: flex;
}

.loader > img {
    margin: 100px auto;
    height: 20vh;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        display: none;
    }
}