.navbar {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    position: fixed;
    z-index: 2;
    height: 80vh;
    z-index: 1;
   
}

.navbar > div > p {
    font-size: 12px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.navbar > div  {
    cursor: pointer;
}


